<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DND List - <%= login %></title>
    <link rel="icon" type="image/x-icon" href="/images/fav_icon.ico">
    <link rel="stylesheet" href="/styles/common.css">
</head>
<body>

<%- include('partials/header'); -%>

<section style="font-size: 120px; font-weight: bolder;">
    <%= login %>
</section>

<%- include('partials/footer'); -%>

</body>
</html>
