<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DND List - Главная</title>
    <link rel="icon" type="image/x-icon" href="/images/fav_icon.ico">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/common.css">
</head>
<body>

    <%- include('partials/header'); -%>

    <section id="home">
        <div class="step-text" id="step_1">
            <h1>Application</h1>
            <ul>
                <li>GM managment</li>
                <li>Party creation</li>
                <li>Characters interaction</li>
                <li>Sessions initiation</li>
                <li>Filling DB</li>
                <li>Nice and responsive CSS 🙂</li>
            </ul>
        </div>
        <div class="step-img" id="step_2"></div>
        <div class="step-text" id="step_3">
            <h1>Account</h1>
            <ul>
                <li>Registration capcha</li>
                <li>Email confirmation</li>
                <li>Password reset </li>
                <li>Account data</li>
            </ul>
        </div>
        <div class="step-img" id="step_4"></div>
        <div class="step-text" id="step_5">
            <h1>Character</h1>
            <ul>
                <li>Race features</li>
                <li>Custom spells</li>
                <li>Custom features</li>
                <li>Tools</li>
                <li>Food and hunger</li>
                <li>Level up</li>
                <li>Subclasses</li>
            </ul>
        </div>
        <div class="step-img" id="step_6"></div>
        <div class="step-text" id="step_7">
            <h1>Inventory</h1>
            <ul>
                <li>Item drag and drop</li>
                <li>Save items order</li>
                <li>Stacks</li>
                <li>Equipment sets</li>
            </ul>
        </div>
        <div class="step-img" id="step_8"></div>
        <div class="step-text" id="step_9">
            <h1>Effects</h1>
            <ul>
                <li>Cancel effects</li>
                <li>Conditions check</li>
                <li>Negative effects</li>
            </ul>
        </div>
        <div class="step-img" id="step_10"></div>
    </section>

    <script>
        const steps = [...document.getElementsByClassName("step-text"), ...document.getElementsByClassName("step-img")]

        for (const step of steps) {
            const x = 500 * (Math.random() > 0.5 ? -1 : 1)
            const y = 500 * (Math.random() > 0.5 ? -1 : 1)
            step.style.transform = `translate(${x}%, ${y}%) rotate(${360 * Math.random() * (Math.random() > 0.5 ? -1 : 1)}deg)`
        }


        window.onload = () => {
            
            for (const step of steps) {
                step.style.transitionDelay = `${Math.random()}s`
                step.classList.add("back")
            }
        }
    </script>

    <%- include('partials/footer'); -%>

</body>
</html>
