<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DND List - Главная</title>
    <link rel="icon" type="image/x-icon" href="/images/fav_icon.ico">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link href="https://fonts.cdnfonts.com/css/beautiful-magic" rel="stylesheet">                
</head>
<body>

    <%- include('partials/header'); -%>

    <section id="home">
        <div class="step-text" id="step_1">
            <h1 class="dealayed_a">M</h1>
            <h3><span>Manage spells, skills and inventory</span></h3>
        </div>
        <div class="step-img" id="step_2"></div>
        <div class="step-text" id="step_5">
            <h1 class="dealayed_b">G</h1>
            <h3><span>Gather with other adventurers</span></h3>
        </div>
        <div class="step-img" id="step_4"></div>
        <div class="step-text" id="step_9">
            <h1 class="dealayed_c">C</h1>
            <h3><span>Create unforgettable adventures</span></h3>
        </div>
        <div class="step-img" id="step_6"></div>
        <div class="step-text" id="step_3">
            <h1 class="dealayed_d">A</h1>
            <h3><span>Add custom features and items</span></h3>
        </div>
        <div class="step-img" id="step_8"></div>
        <div class="step-text" id="step_7">
            <h1 class="dealayed_e">I</h1>
            <h3><span>Investigate mysteries woven by GM</span></h3>
        </div>
        <div class="step-img" id="step_10"></div>
    </section>

    <script>
        const steps = [...document.getElementsByClassName("step-text"), ...document.getElementsByClassName("step-img")]

        for (const step of steps) {
            const x = 500 * (Math.random() > 0.5 ? -1 : 1)
            const y = 500 * (Math.random() > 0.5 ? -1 : 1)
            step.style.transform = `translate(${x}%, ${y}%) rotate(${360 * Math.random() * (Math.random() > 0.5 ? -1 : 1)}deg)`
        }


        window.onload = () => {
            
            for (const step of steps) {
                step.style.transitionDelay = `${Math.random()}s`
                step.classList.add("back")
            }
        }
    </script>

    <%- include('partials/footer'); -%>

</body>
</html>
