<div class="list-wrapper">
    <div id="skills-list" class="list">
        <div class="el-list-100 list-block-name">Skills</div>
        <div class="el-list-100 list-block-subname">Strength</div>
        <div id="str-list" class="list-block" data-base="str">
            <div class="el-list-40">Athletics</div>
            <div class="el-list-10 skill mod-based" id="athletics" data-base="str"></div>
        </div>
        <div class="el-list-100 list-block-subname">Dexterity</div>
        <div id="dex-list" class="list-block">
            <div class="el-list-40">Acrobatics</div>
            <div class="el-list-10 skill mod-based" id="acrobatics" data-base="dex"></div>
            <div class="el-list-40">Sleight of Hands</div>
            <div class="el-list-10 skill mod-based" id="sleight" data-base="dex"></div>
            <div class="el-list-40">Stealth</div>
            <div class="el-list-10 skill mod-based" id="stealth" data-base="dex"></div>
        </div> <!--
        <div class="el-list-100 list-block-subname">Constitution</div>
        <div id="con-list" class="list-block" data-base="con">
            <div class="el-list-40">Endurance</div>
            <div class="el-list-10 skill mod-based" id="endurance" data-base="con"></div>
        </div> -->
        <div class="el-list-100 list-block-subname">Intelligence</div>
        <div id="int-list" class="list-block">
            <div class="el-list-40">Investigation</div>
            <div class="el-list-10 skill mod-based" id="investigation" data-base="int"></div>
            <div class="el-list-40">History</div>
            <div class="el-list-10 skill mod-based" id="history" data-base="int"></div>
            <div class="el-list-40">Arcana</div>
            <div class="el-list-10 skill mod-based" id="arcana" data-base="int"></div>
            <div class="el-list-40">Nature</div>
            <div class="el-list-10 skill mod-based" id="nature" data-base="int"></div>
            <div class="el-list-40">Religion</div>
            <div class="el-list-10 skill mod-based" id="religion" data-base="int"></div>
        </div>
        <div class="el-list-100 list-block-subname">Wisdom</div>
        <div id="wis-list" class="list-block">
            <div class="el-list-40">Perception</div>
            <div class="el-list-10 skill mod-based" id="perception" data-base="wis"></div>
            <div class="el-list-40">Survival</div>
            <div class="el-list-10 skill mod-based" id="survival" data-base="wis"></div>
            <div class="el-list-40">Medicine</div>
            <div class="el-list-10 skill mod-based" id="medicine" data-base="wis"></div>
            <div class="el-list-40">Insight</div>
            <div class="el-list-10 skill mod-based" id="insight" data-base="wis"></div>
            <div class="el-list-40">Animal Handling</div>
            <div class="el-list-10 skill mod-based" id="animal" data-base="wis"></div>
        </div>
        <div class="el-list-100 list-block-subname">Charisma</div>
        <div id="cha-list" class="list-block">
            <div class="el-list-40">Performance</div>
            <div class="el-list-10 skill mod-based" id="performance" data-base="cha"></div>
            <div class="el-list-40">Intimidation</div>
            <div class="el-list-10 skill mod-based" id="intimidation" data-base="cha"></div>
            <div class="el-list-40">Deception</div>
            <div class="el-list-10 skill mod-based" id="deception" data-base="cha"></div>
            <div class="el-list-40">Persuasion</div>
            <div class="el-list-10 skill mod-based" id="persuasion" data-base="cha"></div>
        </div>
        <div class="el-list-100 list-block-subname">Tools</div>
        <div id="tool-list" class="list-block scrollable">
            <div class="el-list-40">Tool 1</div>
            <div class="el-list-10 skill" id="tool_1">?</div>
            <div class="el-list-40">Tool 2</div>
            <div class="el-list-10 skill" id="tool_2">?</div>
            <div class="el-list-40">Tool 3</div>
            <div class="el-list-10 skill" id="tool_3">?</div>
        </div>
    </div>
</div>