* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    height: 5%;
    width: 100%;
    display: flex;
}

nav {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around
}

#welcome, #navigation {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 1%;
    align-items: center
}

#welcome {
    justify-content: flex-end;
    width: 67%;
}

#navigation {
    justify-content: flex-start;
    width: 27%;
}

section {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
    overflow: hidden;
    position: relative;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
}

ul {
    list-style-type: none;
}

li {
    width: fit-content;
    display: block;
}

a:hover {
    color: white;
    background-color: black;
}

.row-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    position: relative;
}

.scrollable {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    scrollbar-width: none !important;
}

.scrollable::-webkit-scrollbar {
    display: none;
  }

.hidden {
    opacity: 1;
    z-index: -1 !important;
}

.absent {
    display: none !important;
}

details > summary {
    background-color: #eee;
    color: #333;
    border: 1px #ccc solid;
    cursor: pointer;
    list-style: none;
    transition: color 0.3s, background-color 0.1s;
    position: relative;
}

details > div {
    border: 1px #ccc solid;
}

details[open] > summary {
    color:#eee; 
    background-color:#333;
}

.dangerous:hover {
    background-color: red !important;
}

.grid {    
    display: grid;
    width: 100%;
    height: 100%;
}

.grid-cell {
    border: 1px solid black;
    aspect-ratio: 1;
    position: relative;
    transition: box-shadow 0.2s;
}

.detail-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.text-block-100 {
    width: 100%;
    height: fit-content;
    position: relative;
}

.el-list-100 {
    width: 100%;
    text-align: center;
    position: relative;
}

.el-list-40 {
    height: fit-content;
    width: 40%;
    position: relative;
}

.el-list-30 {
    height: fit-content;
    width: 30%;
    position: relative;
}

.el-list-20 {
    height: fit-content;
    width: 20%;
    position: relative;
}

.el-list-11 {
    height: fit-content;
    width: 11%;
    position: relative;
}

.el-list-10 {
    height: fit-content;
    width: 10%;
    position: relative;
}