.step-img, .step-text {
    width: 19%;
    height: 49.5%;
    border: 1px solid black;
    position: relative;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 1, 0.75);
}

.step-text::after {
    content: 'TODO';
    position: absolute;
    top: 1%;
    right: 2%;
}

.back {
    transform: translate(0, 0) rotate(0deg) !important;
}